{% load bootstrap4 %}
{% load i18n %}

<!doctype html>
<html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% bootstrap_css %}
  <title>{% block title_head %}{% endblock %}</title>
 </head>
 <body>
  {% block nav %}{% include "navbar/base.html" %}{% endblock %}

  <main role="main" class="mt-2 container">
   <h1 class="d-none d-print-block">{% block title_h1 %}{% endblock %}</h1>
   {% block content %}{% endblock %}
  </main>

  <footer class="footer container py-3 text-center text-muted d-print-none">
   <small>
    {% url 'start' as start_url %}
    <p>{% blocktrans %}<a href="{{ start_url }}">Troodle</a> is a project by <a href="https://prauscher.de/">@prauscher</a>.{% endblocktrans %}</p>
    <p class="mt-3">
     <a href="{% url 'imprint' %}">{% trans "Imprint" %}</a>
    </p>
   </small>
  </footer>

  {% bootstrap_javascript jquery='full' %}
  <script src="{% url 'jsapp' %}"></script>
  {% block script %}{% endblock %}
 </body>
</html>
