{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load urlparser %}
{% load i18n %}

{% block content %}
 <div class="row">
  <div class="col">
   {% for filter_id, filter_label in filters.items %}
    {% if filter_id in active_filters %}
     <a href="{% get_parameter !page filters=active_filters|list_without:filter_id|join:"," excludes=active_excludes|list_with:filter_id|join:"," %}" class="btn btn-success mb-2">{{ filter_label|escape }}</a>
    {% elif filter_id in active_excludes %}
     <a href="{% get_parameter !page excludes=active_excludes|list_without:filter_id|join:"," %}" class="btn btn-danger mb-2">{{ filter_label|escape }}</a>
    {% else %}
     <a href="{% get_parameter !page filters=active_filters|list_with:filter_id|join:"," %}" class="btn btn-outline-secondary mb-2">{{ filter_label|escape }}</a>
    {% endif %}
   {% endfor %}
  </div>
  <div class="col-md-auto btn-group-toggle">
   <form action="" method="get" class="form-inline">
    {% form_parameter !search !page %}
    <div class="input-group mb-2">
     <input class="form-control" type="search" name="search" value="{{ search_term | escape }}" placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}">
     <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
    </div>
   </form>
  </div>
 </div>

 {% block list %}
 <table class="table table-striped">
  <thead class="table-dark">
   <tr>
    <th scope="col">{% trans "Name" %}</th>
   </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
   <tr>
    <td>
     {% block task_label %}{{ object.label | escape }}{% endblock %}
     <div class="float-end">{% block task_actions %}{% endblock %}</div>
    </td>
   </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  {% if object_list.exists %}{% block list_footer %}{% endblock %}
  {% elif active_filters or active_excludes or search_term %}{% block list_footer_filter_empty %}{% endblock %}
  {% else %}{% block list_footer_empty %}{% endblock %}
  {% endif %}
  </tfoot>
 </table>
 {% endblock %}

 {% if is_paginated %}{% bootstrap_pagination page_obj justify_content=center %}{% endif %}
{% endblock %}
