{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <span class="navbar-brand">
  <!-- <a href="{% url 'start' %}" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> -->
  {% block brand %}<a href="{% url 'start' %}" class="navbar-brand">Troodle</a>{% endblock %}
 </span>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
 <div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav">
   {% block links %}
    <li class="nav-item">
     <a href="{% url 'create_board' %}" class="nav-link">{% trans "Create Board" %}</a>
    </li>
   {% endblock %}
  </ul>
  <span class="navbar-text mr-auto"></span>
  {% if 'nick' in request.session %}
  <span class="navbar-text">
   {{ request.session.nick }} <a href="{% url 'reset_nick' %}?next={{ request.get_full_path|urlencode }}" class="btn btn-outline-danger btn-sm">{% trans "Leave" %}</a>
  </span>
  {% endif %}
 </div>
</nav>
