{% extends "navbar/base.html" %}

{% block brand %}
<a href="{% url 'board_admin' board.generate_hash %}" class="navbar-brand">{{ board.label | escape }}</a>
{% endblock %}

{% block links %}
{% block links_admin %}
<a href="{% url 'board_admin' board.generate_hash %}" class="btn btn-sm btn-outline-danger">Admin</a>
<a href="{% url 'create_task' board.generate_hash %}" class="btn btn-sm btn-outline-success">Create Task</a>
<a href="{% url 'edit_board' board.generate_hash %}" class="btn btn-sm btn-outline-warning">Edit</a>
<a href="{% url 'delete_board' board.generate_hash %}" class="btn btn-sm btn-outline-danger">Delete</a>
{% endblock %}
<a href="{% url 'show_board' board.slug %}" class="btn btn-sm btn-outline-info">Show</a>
<a href="{% url 'list_tasks' board.slug %}" class="btn btn-sm btn-outline-info">Tasks</a>
{% endblock %}
