{% extends "navbar/base.html" %}

{% load i18n %}

{% block brand %}
<a href="{% url 'show_board' board.slug %}" class="navbar-brand">{{ board.label | escape }}</a>
{% endblock %}

{% block links %}
{% if board.slug in request.session.admin_boards %}
<li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle {% if active in 'board_admin,create_task,edit_board,delete_board' %}active{% endif %}" href="#" id="adminBarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Admin" %}</a>
 <div class="dropdown-menu" aria-labelledby="#adminBarDropdown">
  <a class="dropdown-item {% if active == 'board_admin' %}active{% endif %}" href="{% url 'board_admin' board.generate_hash %}">{% trans "Tasks" %}</a>
  <a class="dropdown-item {% if active == 'create_task' %}active{% endif %}" href="{% url 'create_task' board.generate_hash %}">{% trans "Create Task" %}</a>
  <a class="dropdown-item {% if active == 'edit_board' %}active{% endif %}" href="{% url 'edit_board' board.generate_hash %}">{% trans "Edit" %}</a>
  <a class="dropdown-item {% if active == 'delete_board' %}active{% endif %}" href="{% url 'delete_board' board.generate_hash %}">{% trans "Delete" %}</a>
{% if board.admin_mail %}
  <a class="dropdown-item {% if active == 'request_board_link' %}active{% endif %}" href="{% url 'request_board_link' board.slug %}">{% trans "Reset Backend links" %}</a>
{% endif %}
 </div>
</li>
{% elif board.admin_mail %}
<li class="nav-item"><a href="{% url 'request_board_link' board.slug %}" class="nav-link {% if active == 'request_board_link' %}active{% endif %}">{% trans "Request Link" %}</a></li>
{% endif %}
<li class="nav-item"><a href="{% url 'list_tasks' board.slug %}" class="nav-link {% if active == 'list_tasks' %}active{% endif %}">{% trans "Tasks" %}</a></li>
<li class="nav-item"><a href="{% url 'board_summary' board.slug %}" class="nav-link {% if active == 'board_summary' %}active{% endif %}">{% trans "Summary" %}</a></span></li>
{% endblock %}
