{% load timedelta %}
{% load i18n %}

<div class="card" {% block card_settings %}{% endblock %}>
 <div class="card-header {% if task.nick_status == 'o' %}bg-secondary text-white{% elif task.nick_status == 'b' %}bg-warning{% elif task.nick_status == 'l' %}bg-danger text-white{% elif task.nick_status == 'r' %}bg-warning{% elif task.nick_status == 'p' %}bg-primary text-white{% elif task.nick_status == 'd' %}bg-success text-white{% endif %}">
  {% block task_label %}{{ task.label | escape }}{% endblock %}
 </div>
 {% block description %}
 <div class="card-body">
  <p class="card-text">{{ task.description | escape | linebreaksbr }}</p>
 </div>
 {% endblock %}
 {% block handlings %}
 <ul class="list-group list-group-flush">
  {% for handling in task.handlings.all %}
   <li class="list-group-item">
    {% if handling.end %}
     <strong>{{ handling.editor | escape }}</strong>
     <small>
      {% blocktrans with time_ago=handling.end|timesince duration=handling.get_duration|timedelta %}{{ time_ago }} ago for {{ duration }}{% endblocktrans %}
     </small>
     {% if handling.success %}<span class="badge badge-success">{% trans "Done" %}</span>
     {% else %}<span class="badge badge-danger">{% trans "Aborted" %}</span>
     {% endif %}
    {% else %}
     <strong>{{ handling.editor }}</strong>
     <small>{% blocktrans with handling_since=handling.start|timesince %}{{ handling_since }} ago{% endblocktrans %}</small>
     <span class="badge badge-warning">{% trans "Active" %}</span>
    {% endif %}
    {% for comment in handling.tasker_comments.all %}
     <div class="alert alert-info">{{ comment.text | escape | linebreaksbr }}</div>
    {% endfor %}
    {% if handling.tasker_attachments %}
     <div class="card-columns">
     {% for attachment in handling.tasker_attachments.all %}
      <div class="card bg-dark text-white text-center">
       <img style="max-width:100%; max-height:200px; width:initial;" class="card-img" src="{% url 'preview_attachment' task.board.slug task.id attachment.id %}" />
       <div class="card-img-overlay">
        <a href="{% url 'fetch_attachment' task.board.slug task.id attachment.id %}" class="stretched-link"></a>
       </div>
      </div>
     {% endfor %}
     </div>
    {% endif %}
   </li>
  {% endfor %}
 </ul>
 {% endblock %}
 {% block actions %}
 <div class="card-footer">
  {% if task.is_locked %}
   {% if task.nick_status in 'rp' %}
    <p>{% blocktrans with reserved_until=task.reserved_until|timeuntil %}Reserved for <strong>{{ reserved_until }}</strong>{% endblocktrans %}</p>
   {% else %}
    <p>{% blocktrans with reserved_by=task.reserved_by|escape reserved_until=task.reserved_until|timeuntil %}Locked by <strong>{{ reserved_by }}</strong> for <strong>{{ reserved_until }}</strong>{% endblocktrans %}</p>
   {% endif %}
  {% endif %}
  {% if task.is_blocked %}
   <p>{% blocktrans %}Task is blocked by other tasks{% endblocktrans %}</p>
  {% endif %}
  {% if 'start' in task.allowed_actions %}{% block start_actions %}
   <a href="{% url 'create_handling' task.board.slug task.id %}" class="btn btn-primary">{% trans "Start" %}</a>
  {% endblock %}{% endif %}{% if 'stop' in task.allowed_actions %}{% block stop_actions %}
   <a href="{% url 'abort_handling' task.board.slug task.id %}" class="btn btn-danger">{% trans "Abort" %}</a>
   <a href="{% url 'complete_handling' task.board.slug task.id %}" class="btn btn-success">{% trans "Done" %}</a>
  {% endblock %}{% endif %}{% if 'unlock' in task.allowed_actions and not hide_lock_actions %}{% block unlock_actions %}
   <a href="{% url 'unlock_task' task.board.slug task.id %}" class="btn btn-warning">{% trans "Unlock" %}</a>
  {% endblock %}{% endif %}{% if 'lock' in task.allowed_actions and not hide_lock_actions %}{% block lock_actions %}
   <a href="{% url 'lock_task' task.board.slug task.id %}" class="btn btn-warning">{% trans "Lock" %}</a>
  {% endblock %}{% endif %}{% if 'comment' in task.allowed_actions %}{% block comment_actions %}
   <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">{% trans "Comment" %}</button>
   <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseAttachment" aria-expanded="false" aria-controls="collapseAttachment">{% trans "Attach" %}</button>
   <div class="collapse" id="collapseComment">
   <form action="{% url 'comment_task' task.board.slug task.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div id="div_id_text" class="form-group">
     <label for="id_text" class="col-form-label">{% trans "Comment:" %}</label>
     <div><textarea name="text" class="form-control" id="id_text"></textarea></div>
    </div>
    <input type="submit" class="btn btn-info" value="{% trans "Send" %}">
   </form>
   </div>
   <div class="collapse" id="collapseAttachment">
   <form action="{% url 'comment_task' task.board.slug task.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div id="div_id_attachment" class="form-group">
     <label for="id_attachment" class="col-form-label">{% trans "Attachment:" %}</label>
     <div><input type="file" class="form-control-file" name="attachment" id="id_attachment"></div>
    </div>
    <input type="submit" class="btn btn-info" value="{% trans "Attach" %}">
   </form>
   </div>
  {% endblock %}{% endif %}
 </div>
 {% endblock %}
 {% block card_footer %}{% endblock %}
</div>
