{% load timedelta %}

<div class="card" {% block card_settings %}{% endblock %}>
 <div class="card-header {% if task.nick_status == 'o' %}bg-secondary text-white{% elif task.nick_status == 'l' %}bg-danger text-white{% elif task.nick_status == 'r' %}bg-warning{% elif task.nick_status == 'p' %}bg-primary text-white{% elif task.nick_status == 'd' %}bg-success text-white{% endif %}">
  {% block task_label %}{{ task.label | escape }}{% endblock %}
 </div>
 {% block description %}
 <div class="card-body">
  <p class="card-text">{{ task.description | escape | linebreaksbr }}</p>
 </div>
 {% endblock %}
 {% block handlings %}
 <ul class="list-group list-group-flush">
  {% for handling in task.handlings.all %}
   <li class="list-group-item">
    {% if handling.end %}
     <strong>{{ handling.editor }}</strong>
     <small>
      at {{ handling.start | date:"j" }} {{ handling.start | time:"H:i" }} {{ handling.start | date:"b Y" }}
      for {{ handling.get_duration | timedelta }}
     </small>
     {% if handling.success %}<span class="badge badge-success">Done</span>
     {% else %}<span class="badge badge-danger">Aborted</span>
     {% endif %}
    {% else %}
     <strong>{{ handling.editor }}</strong>
     <small>
      since {{ handling.start | date:"j" }} {{ handling.start | time:"H:i" }} {{ handling.start | date:"b Y" }}
     </small>
     <span class="badge badge-warning">Aktiv</span>
    {% endif %}
    {% for comment in handling.tasker_comments.all %}
     <div class="alert alert-info">{{ comment.text | escape }}</div>
    {% endfor %}
    {% if handling.tasker_attachments %}
     <div class="card-columns">
     {% for attachment in handling.tasker_attachments.all %}
      <div class="card" style="width:200px;">
       <img class="card-img-top" src="{% url 'preview_attachment' task.board.slug task.id attachment.id %}" />
       <div class="card-body">
        <a href="{% url 'fetch_attachment' task.board.slug task.id attachment.id %}" class="btn btn-sm btn-primary">Download</a>
       </div>
      </div>
     {% endfor %}
     </div>
    {% endif %}
   </li>
  {% endfor %}
 </ul>
 {% endblock %}
 {% block actions %}
 <div class="card-footer">
  {% if task.is_locked %}
   <p>Locked by <strong>{{ task.reserved_by }}</strong> for <strong>{{ task.reserved_until | timeuntil }}</strong></p>
  {% endif %}
  {% if 'start' in task.allowed_actions %}{% block start_actions %}
   <a href="{% url 'create_handling' task.board.slug task.id %}" class="btn btn-primary">Start</a>
  {% endblock %}{% endif %}{% if 'stop' in task.allowed_actions %}{% block stop_actions %}
   <a href="{% url 'abort_handling' task.board.slug task.id %}" class="btn btn-danger">Abort</a>
   <a href="{% url 'complete_handling' task.board.slug task.id %}" class="btn btn-success">Done</a>
  {% endblock %}{% endif %}{% if 'unlock' in task.allowed_actions and not hide_lock_actions %}{% block unlock_actions %}
   <a href="{% url 'unlock_task' task.board.slug task.id %}" class="btn btn-warning">Unlock</a>
  {% endblock %}{% endif %}{% if 'lock' in task.allowed_actions and not hide_lock_actions %}{% block lock_actions %}
   <a href="{% url 'lock_task' task.board.slug task.id %}" class="btn btn-warning">Lock</a>
  {% endblock %}{% endif %}{% if 'comment' in task.allowed_actions %}{% block comment_actions %}
   <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Comment</button>
   <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseAttachment" aria-expanded="false" aria-controls="collapseAttachment">Attach</button>
   <div class="collapse" id="collapseComment">
   <form action="{% url 'comment_task' task.board.slug task.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div id="div_id_text" class="form-group">
     <label for="id_text" class="col-form-label">Comment:</label>
     <div><textarea name="text" class="form-control" id="id_text"></textarea></div>
    </div>
    <input type="submit" class="btn btn-info" value="Send">
   </form>
   </div>
   <div class="collapse" id="collapseAttachment">
   <form action="{% url 'comment_task' task.board.slug task.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div id="div_id_attachment" class="form-group">
     <label for="id_attachment" class="col-form-label">Attachment:</label>
     <div><input type="file" class="form-control-file" name="attachment" id="id_attachment"></div>
    </div>
    <input type="submit" class="btn btn-info" value="Attach">
   </form>
   </div>
  {% endblock %}{% endif %}
 </div>
 {% endblock %}
 {% block card_footer %}{% endblock %}
</div>
