{% extends "task/base.html" %}

{% block task_label %}
 {{ block.super }}
 {% if task.is_locked %}<span class="badge badge-warning">Locked by {{ task.reserved_by | escape }} for {{ task.reserved_until | timeuntil }}</span>{% endif %}
 {% if task.is_done %}<span class="badge badge-success">Done</span>{% endif %}
{% endblock %}

{% block handlings %}{% endblock %}

{% block actions %}
 <div class="card-footer">
  <a href="{% url 'show_task' task.board.slug task.id %}" class="btn btn-info">Show</a>
  <a href="{% url 'edit_task' task.board.generate_hash task.id %}" class="btn btn-secondary">Edit</a>
  <a href="{% url 'reset_task' task.board.generate_hash task.id %}" class="btn btn-warning">Reset</a>
  <a href="{% url 'delete_task' task.board.generate_hash task.id %}" class="btn btn-danger">Delete</a>
 </div>
{% endblock %}
