{% extends "task/base.html" %}

{% load i18n %}

{% block task_label %}
 {{ block.super }}
 {% if task.is_locked %}<span class="badge badge-warning">{% blocktrans with reserved_by=task.reserved_by|escape reserved_until=task.reserved_until|timeuntil %}Locked by {{ reserved_by }} for {{ reserved_until }}{% endblocktrans %}</span>{% endif %}
 {% if task.done %}<span class="badge badge-success">{% trans "Done" %}</span>{% endif %}
{% endblock %}

{% block handlings %}{% endblock %}

{% block actions %}
 <div class="card-footer">
  <a href="{% url 'show_task' task.board.slug task.id %}" class="btn btn-sm btn-info">{% trans "Show" %}</a>
  <a href="{% url 'edit_task' task.board.generate_hash task.id %}" class="btn btn-sm btn-secondary">{% trans "Edit" %}</a>
  <a href="{% url 'reset_task' task.board.generate_hash task.id %}" class="btn btn-sm btn-warning">{% trans "Reset" %}</a>
  <a href="{% url 'delete_task' task.board.generate_hash task.id %}" class="btn btn-sm btn-danger">{% trans "Delete" %}</a>
 </div>
{% endblock %}
