{% extends 'base.html' %}

{% block nav %}{% include "navbar/board.html" with board=object active='board_detail' %}{% endblock %}

{% block title %}{{ board.label }} &middot; {{ block.super }}{% endblock %}

{% block content %}
 {% if random_task %}{% include 'task/board_detail.html' with task=random_task %}
 {% else %}
  <p class="alert alert-info">No tasks could be found for you. Maybe take a look at the <a href="{% url 'list_tasks' object.slug %}">list of all Tasks</a> or at the <a href="{% url 'board_summary' object.slug %}">board summary</a>.</p>
 {% endif %}
{% endblock %}
