{% extends 'base.html' %}

{% load i18n %}
{% load qr_code %}

{% block nav %}{% include "navbar/board.html" with board=object active='board_detail' %}{% endblock %}

{% block title %}{{ board.label | escape }} &middot; {{ block.super }}{% endblock %}

{% block content %}
 {% if random_task %}
  <p class="alert alert-info">{% blocktrans %}Check the task below - if you like it, scan the QR-code on the right using your smartphone to start working.{% endblocktrans %}</p>

  <div class="row">
   <div class="col">
    {% include 'task/board_monitor.html' with task=random_task %}
   </div>
   <div class="col-4 text-right">
    {% qr_from_text random_task_url %}
   </div>
  </div>
 {% else %}
  <p class="alert alert-info">{% blocktrans %}Currently there are no open tasks waiting, please come back later!{% endblocktrans %}</p>
 {% endif %}
 <!--
 <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
 </div>
 -->
 <script type="text/javascript">
  window.setTimeout(function() {window.location.reload()}, 30 * 1000);
 </script>
 RELOAD
{% endblock %}
