{% extends 'base.html' %}

{% load i18n %}

{% block nav %}{% include "navbar/board.html" with board=object active='board_detail' %}{% endblock %}

{% block title %}{{ board.label | escape }} &middot; {{ block.super }}{% endblock %}

{% block content %}
 {% if random_task %}
  {% if handling_exists %}<p class="alert alert-info">{% blocktrans %}You currently started a task. Please complete (or cancel) it first, before receiving a new task.{% endblocktrans %}</p>
  {% else %}<p class="alert alert-warning">{% blocktrans %}The random task shown below is just reserved for you. If you start working, please confirm by clicking "Start". To show another task, please use "Show New".{% endblocktrans %}</p>{% endif %}
  {% include 'task/board_detail.html' with task=random_task %}
 {% else %}
  {% url 'list_tasks' object.slug as list_tasks_url %}
  {% url 'board_summary' object.slug as board_summary_url %}
  <p class="alert alert-info">{% blocktrans %}No tasks could be found for you. Maybe take a look at the <a href="{{ list_tasks_url }}">list of all Tasks</a> or at the <a href="{{ board_summary_url }}">board summary</a>.{% endblocktrans %}</p>
 {% endif %}
{% endblock %}
