{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ board.label | escape }} &middot; {{ block.super }}{% endblock %}

{% block nav %}{% include "navbar/board.html" with board=board active='request_board_link' %}{% endblock %}

{% block content %}
 {% if error %}
  <p class="alert alert-danger">{{ error }}</p>
 {% else %}
  <p class="alert alert-info">{% trans "The admin will receive a mail shortly. Please note that previous links to the admin backend have been invalidated." %}</p>
 {% endif %}
{% endblock %}
