{% extends 'base_form.html' %}

{% load i18n %}

{% block title %}{{ board.label | escape }} &middot; {{ block.super }}{% endblock %}

{% block nav %}
 {% if object %}
  {% include "navbar/board.html" with board=board active='board_admin' %}
 {% else %}
  {% include "navbar/board.html" with board=board active='create_task' %}
 {% endif %}
{% endblock %}

{% block message_create %}
 {% if "message" in request.GET and request.GET.message == "created" %}
  <p class="alert alert-success">{% trans "Task created" %}</p>
 {% endif %}
 <p>{% blocktrans %}Tasks are the core of each board. A task describes a specific action item which needs to be done. If a task can only be done by specific members of the team, you should note that right in the label of the task.{% endblocktrans %}</p>
 <p class="alert alert-info">{% blocktrans %}Tasks will be given to the users independently, meaning each task must be doable regardless if other tasks have been done or not.{% endblocktrans %}</p>
{% endblock %}

{% block create_button %}
 {{ block.super }}
 <button type="submit" class="btn btn-success" name="next" value="{% url 'create_task' board.generate_hash %}?message=created">{% trans "Create and return to this form" %}</button>
{% endblock %}
