{% extends 'base_form.html' %}

{% load i18n %}

{% block title %}{{ board.label | escape }} &middot; {{ block.super }}{% endblock %}

{% block message_edit %}
 <p>{% blocktrans %}Locking a task will prevent it from being shown to users with different nicks than specified until the expiration date set below.{% endblocktrans %}</p>
 <p class="alert alert-info">{% blocktrans %}To unlock a task, simply set the expiration date to a past date.{% endblocktrans %}</p>
{% endblock %}

{% block nav %}
 {% include "navbar/board.html" with board=board active='board_admin' %}
{% endblock %}
