{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ object.label }} &middot; {{ block.super }}{% endblock %}

{% block nav %}{% include "navbar/board.html" with board=object.board active='board_admin' %}{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
 <p class="alert alert-danger">Are you sure you want to reset task "{{ object.label }}" in board "{{ object.board.label }}"?</p>
 <input type="submit" class="btn btn-warning" value="Confirm">
</form>
{% endblock %}
