{% extends 'task_list_base.html' %}

{% block nav %}{% include "nav_base_board.html" with board=board %}{% endblock %}

{% block task_label %}
 <a href="{% url 'show_task' object.board.slug object.id %}">{{ object.label | escape }}</a>
 {% if object.nick_status == 'o' %}
 {% elif object.nick_status == 'l' %}<span class="badge badge-danger">Locked</span>
 {% elif object.nick_status == 'r' %}<span class="badge badge-warning">Reserved</span>
 {% elif object.nick_status == 'p' %}<span class="badge badge-primary">Active</span>
 {% elif object.nick_status == 'd' %}<span class="badge badge-success">Done</span>
 {% endif %}
{% endblock %}

{% block list_footer_empty %}
 <tr>
  <td colspan="2">(empty)</td>
 </tr>
{% endblock %}
