{% extends 'base_form.html' %}

{% block title %}{{ board.label }} &middot; {{ block.super }}{% endblock %}

{% block nav %}{% include "navbar/board.html" with board=board %}{% endblock %}

{% block message_create %}
 <p>Tasks are the core of each board. A task describes a specific action item which needs to be done. If a task can only be done by specific members of the team, you should note that right in the label of the task.</p>
 <p class="alert alert-info">Tasks will be given to the users independently, meaning each task must be doable regardless if other tasks have been done or not.</p>
{% endblock %}
